.about--info--container {
  width: auto;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.about--image--container {
  width: auto;
  height: 800px;
  display: flex;
}

.about--info--title {
  font-size: 5rem;
  margin: 0px 30px;
}

.about--info--text {
  max-width: 40ch;
  margin: 0px 30px;
}

.about--image {
  width: 100%;
  height: auto;
  display: flex;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.about--image--text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color:white;
  font-size: 4rem;
  align-self: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}