:root {
  --alert--success: #63cf59;
  --alert--error: #c9324c;
}


.alert--container {
  width: 500px;
  height: 100px;
  position:fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  animation: fade-in 0.5s ease-in-out;
}

.alert--close {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20px);
  }
}

.alert--message {
  color: white;
}